#box-login {

    margin-top: 9rem;
}

#box-register {

    margin-top: 7rem;
}

.form-signin,
.form-register .form-floating:focus-within {
    z-index: 2;
}

.form-signin,
.form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin,
.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
